@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import './settings';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $background;
	font-family: $font-family;
}

.custom-range::-webkit-slider-runnable-track {
	height: 8px;
	background: linear-gradient(to right, $accent var(--value, 50%), $secondary var(--value, 50%));
	border-radius: 4px;
}
.custom-range::-moz-range-track {
	height: 8px;
	background: linear-gradient(to right, $accent var(--value, 50%), $secondary var(--value, 50%));
	border-radius: 4px;
}

.custom-range::-ms-track {
	height: 8px;
	background: linear-gradient(to right, $accent var(--value, 50%), $secondary var(--value, 50%));
	border-radius: 4px;
	border: none;
	color: transparent;
}

.custom-range::-webkit-slider-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	margin-top: -4px;
}

.custom-range::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.custom-range::-ms-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.react-datepicker {
	border: none;
	overflow: hidden;
	background-color: $white;
	font-family: $font-family;
	color: $primary;
}
.react-datepicker__header {
	background-color: $white;
	border: none;
}

.react-datepicker__day-name {
	color: $primary;
	font-weight: $font-medium;
}

.react-datepicker__day--disabled {
	color: $gray;
}

.react-datepicker__day--disabled:hover {
	background-color: $white;
	cursor: default;
}

.react-datepicker__day--outside-month {
	color: $white;
	pointer-events: none;
	user-select: none;
	background-color: $white;
	visibility: hidden;
	cursor: default;
}
